---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
<div class="bg-base-200 p-6 rounded-xl shadow-2xl">
  <div class="flex">
    <div class="w-3/4">
      <img src="/nae_logo.png" alt="NotAnExpert Logo" width="100%">
    </div>
    <div class="w-3/4">
      <div class="text-xl py-1 antialiased">Hey there 👋</div>
      <div class="text-3xl font-bold antialiased">Welcome to</div>
      <div class="text-5xl font-bold pb-6 antialiased font-serif pt-1">NotanExpert</div>
      <div class="py-2 p-6 bg-base-300 rounded-xl">
        <text class="text-lg antialiased">
          Where curiosity leads the way! Here, we dive into a variety of topics that happen
          catch my eye, celebrating the joy of exploration without the pressure of expertise. 
          Whether you're a fellow enthusiast or just someone who loves a good adventure in tech, 
          join me on this journey where learning is fun, discoveries are plentiful, and the only 
          requirement is an open mind. Let's embrace the ride together!
        </text>
      </div>
    </div>
  </div>
</div>

  

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->
  <div class="text-3xl pt-4 w-full font-bold mb-5 mt-10">Latest from the blog</div>
  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
